.css-typing {
  width: 30em;
  white-space:nowrap;
  overflow:hidden;
  -webkit-animation: type 5s steps(50, end);
  animation: type 5s steps(50, end);
}

@keyframes type {
  from { width: 0; }
}

@-webkit-keyframes type {
  from { width: 0; }
}
