---
layout: page
title: Archive
subtitle:
---

<div class="archive-wrap">
  <ul>
  {% for category in site.categories %}
    <li class="has-children">
      <a href="javascript:;">{{ category | first }}<span class="arrow"></span></a>

      <ul class="sub-title">
      {% for posts in category %}
        {% for post in posts reversed %}
          {% if post.url %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
</div>
