---
layout: page
title: Archive
subtitle:
---
<style>
@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma');

.archive-wrap {
  font-family: 'Baloo Tamma', 'KoPub Batang', cursive;
}

.archive-wrap li {
  list-style: none;
  padding: 18px 22px 0;
}

.has-children .sub-title {
  display: none;
}

.arrow::after {
  content: "\f107";
  font-family: 'FontAwesome';
  padding: 10px;
  color: #FFFA3B;
  position: relative;
}

.arrow:hover::after {
  cursor: pointer;
  color: #fff;
}


</style>

<div class="archive-wrap">
  <ul>
  {% for category in site.categories %}
    <li class="has-children">
      <a href="#">{{ category | first }}</a>
      <span class="arrow"></span>
      <ul class="sub-title">
      {% for posts in category %}
        {% for post in posts reversed %}
          {% if post.url %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
</div>
