<footer>
  <div class="container">
    <p class="social-icons">
      <a href="https://twitter.com/ungmo2" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://github.com/ungmo2" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a href="mailto:ungmo2@gmail.com" target="_blank">
        <i class="fa fa-envelope"></i>
      </a>
    </p>
    <p class="copyright">© 2016&nbsp;&nbsp;Ung-mo Lee</p>
	  <p class="theme-by">Hosted on
	    <a href="https://pages.github.com/">GitHub Pages&nbsp;
        <i class="fa fa-github"></i>
      </a>
      &nbsp;&nbsp;Using <a href="http://marksheet.io">MarkSheet</a>
	  </p>
    <p class="theme-by">
      In his heart a man plans his course, but the LORD determines his steps.
    </p>
  </div>
</footer>
