<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

  <title>{{ page.title | strip_html }} | {{ site.name }}</title>

  <meta name="author" content="Ung-mo Lee">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">

  <meta property="og:type" content="website">
  <meta property="og:url" content="http://poiemaweb.com">
  <meta property="og:title" content="{{ site.name }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:image" content="http://poiemaweb.com/img/poiemaweb.jpg">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="fb:app_id" content="1777080295904196">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ungmo2">
  <meta name="twitter:creator" content="@ungmo2">
  <meta name="twitter:title" content="{{ site.name }}">
  <meta name="twitter:image" content="http://poiemaweb.com/img/poiemaweb.jpg">
  <meta name="twitter:description" content="{{ site.description }}">

  <link rel="icon" href="http://poiemaweb.com/img/poiemaweb.jpg">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/css/ie.css" />
  <![endif]-->
</head>
