<header class="page-header">
  <div class="container">
    <a class="logo" href="http://poiemaweb.com">PoiemaWeb</a>

    <!-- <p class="page-header-icons">
      <a href="https://twitter.com/ungmo2" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://github.com/ungmo2" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a href="mailto:ungmo2@gmail.com" target="_blank">
        <i class="fa fa-envelope"></i>
      </a>
    </p> -->

    <!-- {% unless page.layout == 'index' %}
      {% include share.html %}
    {% endunless %} -->
  </div>
</header>
