<div class="share-buttons">
  <div class="share-button--twitter">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://poiemaweb.com" data-text="PoiemaWeb is a tutorial to learn HTML, CSS and JavaScript." data-via="ungmo2">Tweet</a>
  </div>
  <div class="share-button--facebook">
    <div class="fb-like" data-href="https://www.facebook.com/marksheet.io" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false">Like</div>
  </div>
</div>
