html {
  margin: 0;
  box-sizing: border-box;
}
#tours ul {
  padding: 0;
  overflow: hidden;
}
#tours li {
  list-style: none;
  float: left;
  width: 22.75%;
  height: 150px;
  background: rgba(37, 43, 48, 0.8);
  padding: 0.5em;
  position: relative;
}
#tours > ul > li + li {
  margin-left: 3%;
}
h2 {
  color: white;
}
.details {
  display: block;
  line-height: 1.5em;
  background: #82add8;
  border: 1px solid #191d20;
  font-weight: bold;
  left: 0.5em;
  right: 0.5em;
  padding: 3px 0;
  text-align: center;
}
.book {
  display: block;
  background: #4cb64f;
  border: 1px solid #081f09;
  cursor: pointer;
  width: 100%;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  padding: 5px 24px 3px 24px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
}
