.book {
  max-width: 640px;
  width: 100%;
  color: white;
  background: white;
  padding: 12px;
  margin: 0px auto 40px;
  text-align: center;
  position: relative;
  top: 50px;
  border-radius: 4px;

  @include mobile {
    top: 0;
    margin: 10px auto;
  }
}
